@import "tailwindcss";

@theme {
  --color-darkblue: #031428;
  --color-shadesblue: #243954;
  --color-golden: #d39c25;
  --color-mint-500: oklch(0.72 0.11 178);
  --font-opensans : "Open Sans";
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 35rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}
.navLink-hover{
    @apply hover:text-golden hover:font-semibold transition-all ease-in duration-300
}
.text-shadow{
    text-shadow:1px 1px 1px #d39c25 ;
    

}